Repository DeveloperAcademy-POSTECH/MC2-Team15-Jihwaja, pull requests merged in 2023-05, with the labels that each got.

#7 🍱 asset: 추가 Assets - Colors (#6)
  Jihwaja/Assets.xcassets/Colors/Contents.json
  Jihwaja/Assets.xcassets/Colors/gray.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/gray_button.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/gray_text.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/green.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/red.colorset/Contents.json
Labels: :bento: asset, :heart: MK

#9 🍱 asset: 추가 Assets - light Colors (#6)
  Jihwaja/Assets.xcassets/Colors/grayButton.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/grayText.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/lightGray.colorset/Contents.json
  Jihwaja/Assets.xcassets/Colors/lightGreen.colorset/Contents.json
Labels: :bento: asset, :heart: MK

#21 Feat/18 q7 view
  Jihwaja/Views/Components/QuestionView.swift
  Jihwaja/Views/Questions/QuestionView07.swift
Labels: :sparkles: feat, :lipstick:Update UI, :hankey: Dan, 🎵 Rin

#27 [feat] 추가 Q6 View
  Jihwaja.xcodeproj/project.pbxproj
  Jihwaja/Views/Questions/QuestionView06.swift
Labels: :sparkles: feat, 🎵 Rin
